.cards {
    padding-left: 15%;
    padding-right: 15%;
}
.cardimage img {
    height: 200px;
    width: 200px;
    
  }
.cardimage {
    height: 200px;
    width: 200px;
    float: left;
    margin: 1%;
}
.footer{
    background-color: cornflowerblue;
}